<div id="mainPosts">
  <div class="header">
    <h1>edit post</h1>
  </div>
  <div class="post">
    {{#if errorMessages.length}}
      {{#each errorMessages}}
        <div class="alert alert-danger" role="alert">
          {{this}}
        </div>
      {{/each}}
    {{/if}}
    <form action="/editPost/{{id}}" method="post" enctype="multipart/form-data">
      <div class="input-group">
        <span class="input-group-addon"><i
            class="glyphicon glyphicon-lock"
          ></i></span>
        <input
          id="postDate"
          type="date"
          class="form-control"
          name="postDate"
          value="{{post.date}}"
        />
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i
            class="glyphicon glyphicon-lock"
          ></i></span>
        <input
          id="postTitle"
          type="text"
          class="form-control"
          name="postTitle"
          value="{{post.title}}"
        />
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i
            class="glyphicon glyphicon-lock"
          ></i></span>
        <input
          id="postSuccess"
          type="text"
          class="form-control"
          name="postSuccess"
          value="{{post.success}}"
        />
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i
            class="glyphicon glyphicon-lock"
          ></i></span>
        <input
          id="postStruggle"
          type="text"
          class="form-control"
          name="postStruggle"
          value="{{post.struggle}}"
        />
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i
            class="glyphicon glyphicon-lock"
          ></i></span>
        <input
          id="postContent"
          type="text"
          class="form-control"
          name="postContent"
          value="{{post.content}}"
        />
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i
            class="glyphicon glyphicon-lock"
          ></i></span>
        <input
          id="postPhoto"
          type="file"
          class="form-control"
          name="photo"
          value="{{post.imageURL}}"
        />
      </div>
      <h5 id="signature">Alex</h5>
      <input
        id="submitButton"
        class="btn btn-outline-dark"
        type="submit"
        value="submit"
      />
    </form>
  </div>
</div>