<div id="mainPosts">
  <div class="header">
    <h1>edit feedback</h1>
  </div>

  <div id="logInWindow">
    {{#if errorMessages.length}}
      {{#each errorMessages}}
        <div class="alert alert-danger" role="alert">
          {{this}}
        </div>
      {{/each}}
    {{/if}}
    <form action="/editFeedback/{{id}}" method="post">
      <div class="starRate">
        <input type="radio" name="rate" id="rate1" value="1" />
        <input type="radio" name="rate" id="rate2" value="2" />
        <input type="radio" name="rate" id="rate3" value="3" />
        <input type="radio" name="rate" id="rate4" value="4" />
        <input type="radio" name="rate" id="rate5" value="5" />
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i
            class="glyphicon glyphicon-user"
          ></i></span>
        <input
          id="feedbackName"
          type="text"
          class="form-control"
          name="feedbackName"
          value="{{oneFeedback.name}}"
        />
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i
            class="glyphicon glyphicon-user"
          ></i></span>
        <input
          id="feedbackEmail"
          type="email"
          class="form-control"
          name="feedbackEmail"
          value="{{oneFeedback.email}}"
        />
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i
            class="glyphicon glyphicon-lock"
          ></i></span>
        <input
          id="feedback"
          type="text"
          class="form-control"
          name="feedback"
          value="{{oneFeedback.feedback}}"
        />
      </div>
      <input
        id="submitButton"
        class="btn btn-outline-dark"
        type="submit"
        value="submit"
      />
    </form>
  </div>

</div>