<div id="mainContact">
  <div class="header">
    <h1>feedback</h1>
    <a href="/feedback" id="goBack">show all</a>
  </div>
  <div class="starFilter">
    {{#if errorMessages.length}}
      {{#each errorMessages}}
        <div class="alert alert-danger" role="alert">
          {{this}}
        </div>
      {{/each}}
    {{/if}}
    <form id="filterBar" action="/feedback/review" method="get">
      <div class="input-group">
        <span class="input-group-addon"><i
            class="glyphicon glyphicon-lock"
          ></i></span>
        <div id="firstFilter">
          <p>Filter by rate:</p>
          <input
            id="filterRate"
            type="number"
            class="form-control"
            name="filterRate"
            placeholder=" type rate here"
          />
        </div>
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i
            class="glyphicon glyphicon-lock"
          ></i></span>
        <div id="secondFilter">
          <p>Filter by name:</p>
          <input
            id="filterName"
            type="text"
            class="form-control"
            name="filterName"
            placeholder=" type name here"
          />
        </div>
      </div>
      <input
        id="filterButton"
        class="btn btn-outline-dark"
        type="submit"
        value="filter"
      />
    </form>
  </div>
  {{#if feedback.length}}
    {{#each feedback}}
      <div class="homePost">
        <h4 id="rate">{{rate}}/5
          <img
            class="icon"
            src="https://img.icons8.com/material-rounded/96/000000/star--v1.png"
          /></h4>
        <h4 id="title">{{email}}</h4>
        <h5>{{feedback}}</h5>
        <h5 id="signature">{{name}}</h5>
        {{! edit & delete }}
        <div class="editing">
          <form action="/editFeedback/{{id}}" method="get">
            <input
              id="edit"
              class="btn btn-outline-warning"
              type="submit"
              value="edit"
            />
          </form>
          <form action="/deleteFeedback/{{id}}" method="post">
            <input
              id="delete"
              class="btn btn-outline-danger"
              type="submit"
              value="delete"
            />
          </form>
        </div>
        {{! edit & delete }}
      </div>
    {{/each}}
  {{else}}
    <h4 id="noContent">nothing here</h4>
  {{/if}}
</div>