<div id="mainContact">
  <div class="header">
    <h1>filtered feedback</h1>
  </div>
  {{#if feedback.length}}
    {{#each feedback}}
      <div class="homePost">
        <h4 id="rate">{{onlyFeedback.rate}}/5
          <img
            class="icon"
            src="https://img.icons8.com/material-rounded/96/000000/star--v1.png"
          /></h4>
        <h4 id="title">{{onlyFeedback.email}}</h4>
        <h5>{{onlyFeedback.feedback}}</h5>
        <h5 id="signature">{{onlyFeedback.name}}</h5>
        {{! edit & delete }}
        <div class="editing">
          <form action="/editFeedback/{{id}}" method="get">
            <input
              id="edit"
              class="btn btn-outline-warning"
              type="submit"
              value="edit"
            />
          </form>
          <form action="/deleteFeedback/{{id}}" method="post">
            <input
              id="delete"
              class="btn btn-outline-danger"
              type="submit"
              value="delete"
            />
          </form>
        </div>
        {{! edit & delete }}
      </div>
    {{/each}}
  {{else}}
    <h4 id="noContent">nothing here</h4>
  {{/if}}

</div>