<div id="mainPosts">
  <div class="header">
    <a href="/posts" id="goBack">go back</a>
    <h1>comment below!</h1>
  </div>
  {{#if post}}
    <div class="post">
      <h4 class="title">{{post.title}}</h4>
      <h5 class="success">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          fill="currentColor"
          class="bi bi-check2"
          viewBox="0 0 18 18
          "
          aria-label="success"
        >
          <path
            d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"
          ></path>
        </svg>
        {{post.success}}
      </h5>
      <h5 class="struggle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          fill="currentColor"
          class="bi bi-x-lg"
          viewBox="0 0 20 20
          "
          aria-label="struggle"
        >
          <path
            d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"
          ></path>
        </svg>
        {{post.struggle}}
      </h5>
      <h5>{{post.content}}</h5>
      <img class="photoStyle" src="/uploads/{{post.imageURL}}" />
      <h5 id="signature">Alex</h5>
    </div>
    {{! comments section }}
    <div class="commentsSection">
      <form action="/posts/{{post.id}}" method="post" class="commentsGroup">
        <div class="input-group">
          <span class="input-group-addon"><i
              class="glyphicon glyphicon-lock"
            ></i></span>
          <div class="newComment">
            {{#if errorMessages.length}}
              {{#each errorMessages}}
                <div class="alert alert-danger" role="alert">
                  {{this}}
                </div>
              {{/each}}
            {{/if}}
            <input
              id="comment"
              type="text"
              class="form-control"
              name="comment"
              placeholder=" comment here..."
            />
          </div>
        </div>
        <input
          id="submitButton"
          class="btn btn-outline-dark"
          type="submit"
          value="submit"
        />
      </form>
    </div>
    <div class="commentsSection" id="existingComments">
      {{#if comments.length}}
        {{#each comments}}
          <div class="comment">
            <h5>{{comment}}</h5>
            {{#if ../session.isLoggedIn}}
              {{! edit & delete }}
              <div class="editing">
                <form action="/editComment/{{id}}" method="get">
                  <input
                    id="edit"
                    class="btn btn-outline-warning"
                    type="submit"
                    value="edit"
                  />
                </form>
                <form action="/deleteComment/{{id}}/{{postID}}" method="post">
                  <input
                    id="delete"
                    class="btn btn-outline-danger"
                    type="submit"
                    value="delete"
                  />
                </form>
              </div>
              {{! edit & delete }}
            {{/if}}
          </div>
        {{/each}}
      {{else}}
        <h5>No comments yet</h5>
      {{/if}}
    </div>
  {{else}}
    <h5>This post doesn't exist</h5>
  {{/if}}
</div>