<div id="mainPosts">
  <div class="header">
    <h1>all posts</h1>
  </div>
  {{#if posts.length}}
    {{#each posts}}
      <div class="post">
        <h4 class="title">{{title}}</h4>
        <h5 class="success"><img
            class="icon"
            src="https://img.icons8.com/wired/100/000000/thumb-up.png"
          />
          {{success}}</h5>
        <h5 class="struggle"><img
            class="icon"
            src="https://img.icons8.com/wired/100/000000/thumbs-down.png"
          />
          {{struggle}}</h5>
        <h5>{{content}}</h5>
        <h5 id="signature">Alex</h5>


{{#if ../session.isLoggedIn}}
        <div class="editing">
          <form action="/editPost/{{id}}" method="get">
            <input
              id="edit"
              class="btn btn-outline-warning"
              type="submit"
              value="edit"
            />
          </form>
          <form action="/deletePost/{{id}}" method="post">
            <input
              id="delete"
              class="btn btn-outline-danger"
              type="submit"
              value="delete"
            />
          </form>
        </div>
{{/if}}

      </div>

      <div class="addComment">
        <a href="posts/{{id}}" class="btn btn-outline-dark" id="buttonAdd">add a
          comment here</a>
      </div>
    {{/each}}
  {{else}}
    <h4 id="noContent">nothing here</h4>
  {{/if}}
</div>