<div id="mainPosts">
  <div class="header">
    <h1>all posts</h1>
  </div>
  {{#if posts.length}}
    {{#each posts}}
      <div class="post">
        <h4 id="title">{{title}}</h4>
        <h5>{{success}}</h5>
        <h5>{{struggle}}</h5>
        <h5>{{content}}</h5>
        <h5 id="signature">Alex</h5>
      </div>

      <div class="addComment">
        <a href="posts/{{id}}">Add a comment here</a>
      </div>
    {{/each}}
  {{else}}
    <h4 id="noContent">nothing here</h4>
  {{/if}}
</div>